<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1 class="t-table">Ingresa un microcurso</h1>

  <div class="container" style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width">
        <mat-label>Código</mat-label>
        <input matInput required placeholder="Código" formControlName="idMicroCurso">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Titulo</mat-label>
        <input matInput required placeholder="titulo" formControlName="titulo">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <input matInput required placeholder="Descripción" formControlName="descrip">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Tema</mat-label>
        <input matInput required placeholder="Tema" formControlName="tema">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Asesor</mat-label>
        <mat-select formControlName="asesor" [(value)]="idAsesorSeleccionado" required>
            <mat-option *ngFor="let a of listaA" [value]="a.idAsesor">
              {{a.nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Lenguaje</mat-label>
        <mat-select formControlName="lenguaje" [(value)]="idLenguajeSeleccionado" required>
            <mat-option *ngFor="let l of listaL" [value]="l.idLenguaje">
              {{l.tipoLeng}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button  style="background:#B1ABF8; color: #fff;" (click)="aceptar()" >Aceptar</button>
      <button mat-raised-button routerLink="/pages/homeadmin/microcursos">Cancelar</button>
      <p>{{mensaje}}</p>

    </form>
  </div>

</body>
</html>

