<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="cf">
<app-navbar></app-navbar>
  <br>
  <div class="container">
    <h1 class="t-table">Lista de Administradores</h1>
  </div>

  <div class="container">
    <button mat-raised-button style="background:#1e878f; color: #fff;" routerLink="/administradores/administradoresinsertar">Agregar</button>
  </div>

  <br>
  <div class="container" style="text-align: right;">
    <mat-form-field>
      <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
    </mat-form-field>
  </div>
  
  <div class="container">
    

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover table-bordered backcolor">

      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef >No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>


      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">{{ element.usuario }}</td>
      </ng-container>


      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef>Correo Electronico</th>
        <td mat-cell *matCellDef="let element">{{ element.correoElec }}</td>
      </ng-container>


      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
      </ng-container>

      <ng-container matColumnDef="ceditar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
        <mat-icon [routerLink]="['edicion',element.id]"> border_color</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="celimininar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
        <mat-icon (click)="confirmar(element.id)"> delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="background-color: white;"></tr>
    </table>
    <mat-paginator [pageSize]="8" ></mat-paginator>

  </div>
</body>
</html>
