
  
  .card-header {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #B1ABF8;/* estilo */
    color: white;/* estilo */
  }
  
  .card-body {
    margin-bottom: 1rem;
  }
  
  .card-footer {
    display: flex;
    justify-content:center;
    align-items: center;
        background-color: #B1ABF8;  /* estilo */
    color: white;  /* estilo */
  }

  

    
  /* Estilos adicionales según tus necesidades */

  
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
    justify-items: center;
    align-items: start;
  }
  
  .card {
    width: 100%;
    padding: 0px;
    background-color: #fff;
    border-radius: 8px;
    border: 4px solid #B1ABF8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .backcolor{
    background-color:  #B1ABF8;
  }
  
  html, body{
    width: 100%;
  }
  
  
  /* titulo de la tabla */
    .t-table{
    color:#1e878f;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
  }
  
  
  mat-paginator{
    font-size: 18px;
    color:black;
    border: 4px solid #1e878f;
    border-radius: 8px;
  }


  .custom-form-field {
    display: inline-block;
    border: 4px solid #1e878f;
    border-radius: 8px;
    width: 100%;
    background-color: #f2f2f2;
    margin-bottom: 15px;
  }
  
  .custom-input {
    width: 100%;
    border-radius: 6px;
    height: 50px;
    border: none;
    padding: 5px;
    outline: none;
    font-size: 16px;
    color: #333;
  }
  
  .custom-input:focus {
    border-color: #1e878f;
  }


  .style-btn{
    background:#1e878f; color: #fff;
    font-size: 20px;
  }

  .icon-container {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFF;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    
  }