<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  
  <body>
    <div class="container">
      <div style="text-align: center;">
        <br>
        <h1 class="t-table">Lista de microcursos</h1>
        <br>

      </div>
      <br>
      <div style="text-align:left;"><button  mat-raised-button style="background:#1e878f; color: #fff;"  routerLink="/pages/homeadmin/microcursos/microcursosinsertar">Registrar</button></div>
      <br>
      <div style="text-align:right;">
        <mat-form-field>
          <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
        </mat-form-field>
      </div>
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover table-bordered backcolor"  >
        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef> N° </th>
          <td mat-cell *matCellDef="let element">{{ element.idMicroCurso }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef> Titulo </th>
          <td mat-cell *matCellDef="let element"> {{ element.titulo }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="descrip">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{ element.descrip }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="tema">
          <th mat-header-cell *matHeaderCellDef> Tema </th>
          <td mat-cell *matCellDef="let element"> {{ element.tema }} </td>
        </ng-container>

        <ng-container matColumnDef="asesor">
          <th mat-header-cell *matHeaderCellDef> Asesor </th>
          <td mat-cell *matCellDef="let element">{{ element.asesor.nom }}</td>
        </ng-container>
        <ng-container matColumnDef="lenguaje">
            <th mat-header-cell *matHeaderCellDef> Lenguaje </th>
            <td mat-cell *matCellDef="let element">{{ element.lenguaje.tipoLeng }}</td>
          </ng-container>
        <ng-container matColumnDef="ceditar">
          <th mat-header-cell *matHeaderCellDef> Editar </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon  [routerLink]="['edicion',element.idMicroCurso]" >border_color</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="celiminar">
              <th mat-header-cell *matHeaderCellDef> Eliminar </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon (click)="confirmar(element.idMicroCurso)"> delete</mat-icon>
              </td> 
        </ng-container>
          


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"style="background-color: white;"></tr>
      </table>
      <mat-paginator [pageSize]="8"></mat-paginator>

    </div>

  </body>
</html>
