<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-navbar></app-navbar>
  <br>
  <div style="text-align: center;">
    <h1 class="t-table">Lista de Lenguajes</h1>
  </div>
  <div class="container" style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()">
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Código</mat-label>
        <input matInput required placeholder="Código" formControlName="id">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <input matInput required placeholder="Descripcion" formControlName="desc">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Abreviacion</mat-label>
        <input matInput required placeholder="Abreviacion" formControlName="abrev">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Tipo de lenguaje</mat-label>
        <input matInput required placeholder="Tipo de lenguaje" formControlName="tipoLeng">
      </mat-form-field>
      <br>

      <button mat-raised-button style="background:#1e878f; color: #fff;">Aceptar</button>
      <button mat-raised-button routerLink="/lenguajes">Cancelar</button>
      <p>{{mensaje}}</p>

    </form>
  </div>

</body>
</html>
