body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1e878f, #B1ABF8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    width: 400px;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .center-text {
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .btn-container button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    background-color: #1e878f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }