<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="cf">

<app-navbar></app-navbar>
  <br>

  <div>
    <h1 class="t-table" >Lista de Lenguajes</h1>
  </div>
  <div class="container">

    <br>
  <div>
    <button mat-raised-button style="background-color: #1e878f; color:white" routerLink="/lenguajes/lenguajesinsertar">Agregar</button>
  </div>

    <br>
  <div style="text-align:right;">
    <mat-form-field>
    <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
    </mat-form-field>
  </div>
    
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover table-bordered backcolor">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef class="fondito"> Número  </th>
        <td mat-cell *matCellDef="let element "> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="abreviacion">
        <th mat-header-cell *matHeaderCellDef> Abreviación </th>
        <td mat-cell *matCellDef="let element"> {{element.abrev}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo de lenguaje </th>
        <td mat-cell *matCellDef="let element"> {{element.tipoLeng}} </td>
      </ng-container>

      <ng-container matColumnDef="ceditar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
        <mat-icon [routerLink]="['edicion',element.id]">border_color</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="celiminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
        <mat-icon (click)="confirmar(element.id)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="background-color: white;"></tr>
    </table>
    <mat-paginator [pageSize]="8"></mat-paginator>
  </div>
</body>
</html>
