<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div style=" text-align: center;">
      <h1> Las tarjetas más usadas por los estudiantes</h1>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8  table table-hover table-bordered backcolor">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Tipo de contenido </th>
        <td mat-cell *matCellDef="let element of bancoCounts"> {{element.nombre}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Cantidad de recursos </th>
        <td mat-cell *matCellDef="let element of bancoCounts"> {{element.count}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="background-color: white;"></tr>
    </table>

  </div>
</body>

</html>
