<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  



  <div class="container">
    <h1 class="center-text">Login como Asesor</h1>
    <form [formGroup]="form" (submit)="aceptar()">
      <div class="form-group">
        <label >Usuario</label>
        <input matInput  placeholder="Username" [(ngModel)]="username" formControlName="username">
      </div>
      <div class="form-group">
        <label >Password</label>
        <input type="password" matInput  placeholder="Password" [(ngModel)]="password" formControlName="password">
      </div>

      <div class="btn-container">
        <button mat-raised-button style="background:#1e878f; color: #fff;">Aceptar</button>
        <button mat-raised-button style="background:#fff; color: #000;" routerLink="/loginestudiante">Estudiante</button>
        <button mat-raised-button style="background:#fff; color: #000;" routerLink="/loginadmin">Admin</button>
      </div>
      <br>
      <p class="center-text"> No tienes una cuenta?</p>
      <div class="btn-container">
        <button mat-raised-button style="background:#fff; color: #000;" routerLink="/registerasesor">Registrarse</button>
      </div>
    </form>
  </div>
</body>
</html>
