<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  
  <body>
    <div class="container">
      <div style="text-align: center;">
        <br>
        <h1 class="t-table">Solicitudes de asesorias</h1>
        <br>

      </div>


      <div style="text-align: center;">
        <div class="custom-form-field">
          <input class="custom-input" type="text" (keyup)="filtrar($event)" placeholder="Buscar">
        </div>
      </div>
      
      <div class="card-container">
        <div class="card" *ngFor="let element of dataSource.data.slice(currentPage * itemsPerPage, (currentPage + 1) * itemsPerPage)">
          <!-- Contenido de la card -->
          <!-- Contenido de la card -->
          <div class="card-header" >
            <h2 class="card-title">{{ element.nombre }}</h2>
          </div>
          <div class="card-body">
            <p><strong>N°: </strong>  {{ element.idsolicitud }}</p>
            <p><strong>Descripción: </strong>  {{ element.descrip }}</p>
            <p><strong>Fecha de solicitud: </strong>  {{ element.fechasol | date:'dd/MM/yyyy' }}</p>
            <p><strong>Estudiante: </strong>  {{ element.estudiante.nombre }}</p>
          </div>
          <div class="card-footer">
            <div class="icon-container">
              <mat-icon class="edit-icon"  [routerLink]="['/pages','homeasesor',idasesor,'a-asesoriainsertar',idasesor, element.idsolicitud]">check</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <br>
      <mat-paginator
        [length]="totalItems"
        [pageSize]="itemsPerPage"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChanged($event)"
      ></mat-paginator>
    </div>

  </body>
</html>

